<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> I am a Computer Science student pursuing Masters at University of California, Riverside. Currently looking for internship for summer 2020 in Data Science. This is my Data Science portfolio and it includes my academic projects, hobby projects, hackathon project, project done as part of online courses.</font></p>
                <p><font size="4px"> I am interested in Data Science, maths behind Machine Learning and love to get the insights from the data and creating interactive visualizations to show the results. </font></p>
                <p><font size="4px"> When working as Project Trainee at Softvan Technologies, I worked on a project using Computer Vision and Deep Learning for human detection and counting them for queue management and giving insights sand that made me interested in machine learning and using that to gain insights from data. </font></p>
                
             <br/>
        </div>
    </div>
</section>






